@media screen and (max-width: $desktop) {
  .crew-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.crew-icons {
  @media screen and (max-width: $mobile) {
    flex-wrap: wrap;
  }
}
.crew img {
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}
.crew {
  @media screen and (max-width: $mobile) {
    width: 100%;
    margin-bottom: 10px;
  }
  @media screen and (min-width: $mobile) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: $tablet) {
  .crew-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: $desktop) {
  .crew:last-child {
    margin-right: 0;
  }
  .crew {
    width: 270px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .crew-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .crew-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.crew img {
  @media screen and (max-width: $desktop) {
    display: none;
  }
  @media screen and (max-width: $mobile) {
    display: block;
  }
}
.crew-igor {
  @media screen and (min-width: $mobile) {
    height: 460px;
    background-image: url("../img/manmobilex1.jpg");
  }
  @media screen and (min-width: $tablet) {
    background-image: url("../img/mantabletx1.jpg");
    height: 374px;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    height: 260px;
    background-image: none;
  }
}
.crew-olga {
  @media screen and (min-width: $mobile) {
    height: 460px;
    background-image: url("../img/mobileolga.jpg");
  }
  @media screen and (min-width: $tablet) {
    background-image: url("../img/tabletolga.jpg");
    height: 374px;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    height: 260px;
    background-image: none;
  }
}
.crew-nikolai {
  @media screen and (min-width: $mobile) {
    height: 460px;
    background-image: url("../img/mobilenikolai.jpg");
  }
  @media screen and (min-width: $tablet) {
    background-image: url("../img/tabletnikolai.jpg");
    height: 374px;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    height: 260px;
    background-image: none;
  }
}
.crew-michail {
  @media screen and (min-width: $mobile) {
    height: 460px;
    background-image: url("../img/mobilemichail.jpg");
  }
  @media screen and (min-width: $tablet) {
    background-image: url("../img/tabletmichail.jpg");
    height: 374px;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    height: 260px;
    background-image: none;
  }
}
.crew-title {
  @media screen and (max-width: $desktop) {
    font-size: 28px;
    line-height: 1.17em;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16em;
  }
}
