@media screen and (max-width: $mobile) {
  .offer-icon {
    width: 100%;
  }
}
@media screen and (max-width: $desktop) {
  .container-offer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.offer {
  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  &-list {
    margin: -15px;
  }
}
@media screen and (max-width: $tablet) {
  .offer-title {
    display: flex;
    justify-content: center;
  }
  .offer {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .offer-list {
    margin: 0;
  }
}

@media screen and (min-width: $tablet) {
  .offer-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: $desktop) {
  .container-offer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .offer-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .offer {
    width: calc((100% - 8 * 15px) / 4);
    margin-top: 0;
    margin-bottom: 0;
  }
}
