.icons-modal {
  position: absolute;
  top: 50%;
  left: 3%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offer-icon {
  height: 120px;
  background-color: $grayBC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.crew-icons__position {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $iconColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $whiteColor;
    background-color: $hover;
  }
}
.crew-icons__thumb_color {
  fill: currentColor;
}
.crew-icons__thumb {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
// CREW ICON
.crew-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
// CLIENTS LOGO
.clients-list {
  &__link {
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.clients-list__link {
  &:hover .clients-link_color,
  &:hover,
  &:focus .clients-link_color,
  &:focus {
    border-color: $hover;
    fill: $hover;
    outline: none;
  }
}
.clients-link_color {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// FOOTER ICON
.footer-icon__list {
  margin-top: 20px;
  display: flex;
}
.footer-icon__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $hover;
  }
}
.footer-icon_position:not(:last-child) {
  margin-right: 10px;
}
.footer-icon {
  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: $whiteColor;
    text-transform: uppercase;
  }
}
.footer-form__icon {
  position: absolute;
  top: 10px;
  right: 28px;
}
